.hero {
    width: 320px;
    display: block;
}

.hero-mobile {
    width: 100vw;
    height: auto;
    display: none;
    margin-top: 32px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 375px) {
    .hero {
        display: none;
    }
    .hero-mobile {
        display: block;
    }
        
}