@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 760px;
    height: 420px;
    display: flex;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    flex-direction: row;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: -8px 10px 13px 1px rgba(15,15,15,0.13);
}

.page {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 85px;
    padding-top: 32px;
    background: url("../assets/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


@media screen and (max-width: 375px) {
    main {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    } 
    .page {
        padding-left: 0;
        align-items: center;
    }
  }